<%= simple_form_for @provider do |f| %>
    <% if @provider.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this form from being saved:</h2>
            
            <ul>
                <% @provider.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <form>
        <div class="form-group">
            <%= f.label "First Name" %>
            <%= f.text_field :first_name, :class => "form-control" %>
        </div>
        
        <!--<div class="form-group">
            <%= f.label "Last Name" %>
            <%= f.text_field :last_name, :class => "form-control" %>
        </div>-->
        
        = f.input :last_name
        
        <div class="form-group">
            <%= f.label "Specialty" %>
            <%= collection_select(:provider, :provider_specialty_id, ProviderSpecialty.all, :id, :provider_specialty, { prompt: true }, {:class => "form-control dropdown-toggle" }) %>
        </div>
        
        <div class="form-group">
            <%= f.label "Date of Hire" %>
            <%= f.date_field :Date_Of_Hire, :class => "form-control" %>
        </div>
        
        <div class="form-group">
            <%= f.label "Commission Rate (%)" %>
            <%= f.text_field :Commission_Rate, :class => "form-control" %>
        </div>
        
        <div class="form-group">
            <%= f.submit "Save", :class => "form-control btn btn-dark" %>
        </div>
    </form>
    
<% end %>